@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>
    @ViewBag.Garden.Name
</h1>
<br />
<h5>Localisation :</h5>
<div id="googleMap" style="height:400px;width:100%">
</div>
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnPczCiYLzHf8Fqgs_npGqwHm6KWmUiMw"></script>*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnPczCiYLzHf8Fqgs_npGqwHm6KWmUiMw"></script>

<script>
       function InitializeMap()
        {
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var myOptions =
            {
                zoom : 8,
                center : latlng,
                mapTypeId : google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), myOptions);
        }
        window.onload = InitializeMap;
</script>

@*<script type="text/javascript">
    var geocoder = new google.maps.Geocoder({'address':address})
    var map = new google.maps.Map(document.getElementById("googleMap"))
    function gardenMap(results,status)
    {
    if(status == google.maps.GeocoderStatus.OK)
    {
    map.setCenter(results[0].geometry.location);
    var marker = new google.maps.Marker(
    {
    map:map,
    position : results[0].geometry.location
    })
    }
    else
    {
    alert("Geocode was not successful for the following reason "+ status)
    }
    alert(map)
    //var myCenter = new google.maps.Geocoder({'address': address});
    //var mapProp = { zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
    //var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    //var marker = new google.maps.Marker();
    //marker.setMap(map);
    }
    </script>*@
<br />
<h5>Description :</h5>
<p>
    @ViewBag.Garden.Description
</p>

