@{
    Layout = "_Layout";
    <div class="row">
        <div class="col-md-12">
            <h3>Claims associated with current User</h3>
            <p>
                This page displays all the claims associated to the current User.
                This is useful when debugging to see wich claims are being populated from the Auth0 ID Token.
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Claim
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in User.Claims)
                    {
                        <tr>
                            <td>@claim.Type</td>
                            <td>@claim.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="googleMap" style="height:400px;width:100%">
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnPczCiYLzHf8Fqgs_npGqwHm6KWmUiMw"></script>
    <script>
        function InitializeMap()
        {
            var latlng = new google.map.LatLng(-34.397, 150.644);
            var myOptions =
            {
                zoom : 8,
                center : latlng,
                mapTypeId : google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), myOptions);
        }
        window.onLoad = InitializeMap;
    </script>
}
