@{
    ViewData["Title"] = "Home Page";

}
  <div class="text-center" >
        <h1>Welcome to SharedGarden !</h1>
        <p>This website allows the person who does not have a garden to rent one and enjoy it! </p>
    </div>

    <div id="map" style="height:400px;width:100%">
    </div>

