@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="row">
        <div class="col-md-12">
        <h3>Claims associated with current User</h3>
        <p>This page displays all the claims associated to the current User.
        This is useful when debugging to see wich claims are being populated from the Auth0 ID Token.</p>
        </div>
    </div>
}
